/Codigo-fonte/packages
/Codigo-fonte/src/MeuPatrimonio.Application/bin
/Codigo-fonte/src/MeuPatrimonio.Application/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.Data/bin
/Codigo-fonte/src/MeuPatrimonio.Infra.Data.Repositories/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Repositories/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Services/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Entities/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Tests/bin
/Codigo-fonte/src/MeuPatrimonio.Infra.CrossCutting/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Validations/bin
/Codigo-fonte/src/MeuPatrimonio.Infra.Tests/bin
/Codigo-fonte/src/MeuPatrimonio.Infra.Data.ORM.EntityFramework/bin
/Codigo-fonte/src/MeuPatrimonio.Domain.Validations/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.Data.ORM.EntityFramework/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.Data/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.Data.Repositories/obj
/Codigo-fonte/src/MeuPatrimonio.Domain.Repositories/obj
/Codigo-fonte/src/MeuPatrimonio.Domain.Services/obj
/Codigo-fonte/src/MeuPatrimonio.Domain.Entities/obj
/Codigo-fonte/src/MeuPatrimonio.Domain.Tests/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.Tests/obj
/Codigo-fonte/src/MeuPatrimonio.Infra.CrossCutting/obj
