<div class="content">
  <h1>Cadastrar Modelo</h1>
  <div class="box">
      <div class="columns">
          <div class="column is-4">
              <label class="label">Nome</label>
              <div class="control">
                  <input [(ngModel)]="modelo.Nome" class="input" type="text">
              </div>
          </div>
      </div>
      <div class="columns">
          <div class="column">
              <a (click)="onSalvar()" class="button is-link">Salvar</a>
          </div>
      </div>
  </div>
</div>